<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tentang Kami</title>
    <link href="./src/distt/output.css" rel="stylesheet">
</head>
<body>
    <section id="about" class="py-20">
        <div class="container min-h-screen mx-auto justify-center text-center">
            <h2 class="text-3xl font-bold mb-6">Tentang Kami</h2>
            <p class="text-lg text-gray-600 max-w-2xl mx-auto">Website kami hadir untuk mengedukasi masyarakat tentang pentingnya daur ulang sampah dari lingkungan. Melalui informasi yang mudah diakses dan inspirasi kreatif, kami membantu Anda memahami bagaimana sampah sehari-hari dapat diolah menjadi sesuatu yang bernilai. Dengan panduan praktis, tips, dan berbagai proyek DIY, kami mengajak setiap orang untuk berkontribusi dalam menjaga kebersihan lingkungan dan mendukung keberlanjutan. Ayo, mulai langkah kecil untuk masa depan yang lebih hijau bersama kami!</p>
        </div>
    </section>
</body>
</html>